/* Personalización de la barra de scroll */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  /* slate-300 */
  border-radius: 10px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155;
  /* slate-700 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
  /* slate-400 */
}

.katex * {
  border-color: currentColor !important;
  /* Fuerza que use el color del texto */
}

.katex .sqrt>.root {
  border-top: 1px solid currentColor !important;
  /* IMPORTANTE: 'solid' es la clave */
  margin-top: -1px;
  /* Ajuste fino para conectar con el símbolo V */
}

.katex .frac-line {
  border-bottom: 1px solid currentColor !important;
}

/* Opcional: Asegura que el símbolo de raíz SVG no se oculte */
.katex path {
  stroke: currentColor !important;
}

.katex .frac-line {
  border-bottom-width: 1px;
  border-color: currentColor;
  /* Asegura que no sea invisible ni muy gruesa */
}

/* 3. Arreglo específico para la raíz cuadrada */
.katex .sqrt>.root {
  border-top-width: 1px;
  border-color: currentColor;
  margin-top: -1px;
}

/* 4. Arreglo para simbolos SVG (como la raiz extendida) */
.katex path {
  stroke: currentColor;
}